<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" href="{{'/assets/css/about.css'}}">
    <link rel="stylesheet" type="text/css" href="{{'/assets/css/projects.css'}}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <!-- HEADER -->
    <!--<div id="header_wrap" class="outer">-->
    <!-- <div class = "headerWrap">
        <header class="inner">
           {% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %}

          <div class="title">
           <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
           <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
          </div>

           <div class="headingButtonWrapper">
             {% for button in site.buttons %}
               <div class = "headerButtons">
                  <img src="{{button.img}}">
                  <a href="{{ button.url }}" style = "color: black;"><strong>{{ button.title }}</strong></a>
               </div>
             {% endfor %}
          </div> -->

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
        <!-- TODOOOOOO
        <div class = "headerBackgroundContainer">
          <label for = "Backgrounds"> Backgrounds: </label>
          <select name="name" id="Backgrounds" class = "headerBackgroundButtons">
          {% for button in site.backgroundButtons %}
               <div class = "headerBackgroundButtons">
                <script src="/assets/JS/script.js"></script>
                <option value="{{button.title}}">>
                  <input type="image" id = "input" oninput=script>
                </option> 

                   <img src="{{button.img}}">
                  <a href="{{ button.url }}" style = "color: black;"><strong>{{ button.title }}</strong></a> -->
                  <!-- <script src="/assets/JS/script.js"></script>
                  <button data-image="{{button.img}}"><strong>{{button.title}}</strong></button> -->
               <!-- </div>
          {% endfor %}       
          </select>
        </div> 
    </div> -->

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <!-- start menu button -->

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <div class = "footerBar">
          <img src="/assets/Icons/Windows/logo.png">
          <button id="startButton"> 
            Start
          </button>

          <div style="align-self: center; justify-self: center; color: darkgray; font-size: x-large;">
            <p><strong>TYLER WOOD</strong></p>
          </div>

          <div id="startMenu" class="hidden">
            <div style="display: flex; flex-direction: column;">
              <div class = "menuButton"><img src="/assets/Icons/Windows/folder.png">Projects<img src="/assets/Icons/Windows/arrow.png" style="width: 20px; height: 20px;"></div>
              <div class = "menuButton"><img src="/assets/Icons/Windows/screen.png"><a href="/index.html">Home</a></div>
              <div class = "menuButton"><img src="/assets/Icons/Windows/info.png">About Me</div>
            </div>
          </div>
        </div>
        <!-- {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p> -->
      </footer>
    </div>

    <script>
      const btn = document.getElementById("startButton");
      const menu = document.getElementById("startMenu");

      console.log("btn:", btn);

      if (!btn) {
        console.error("startButton not found");
      }

      btn.addEventListener("click", (e) => {
      e.stopPropagation(); 
      menu.classList.toggle("hidden");
      });

      document.addEventListener("click", (e) => {
      if (!menu.classList.contains("hidden") && !btn.contains(e.target) && !menu.contains(e.target)) 
      {menu.classList.add("hidden");}
      });
    </script> 
  </body>
</html>